<section id="advantages" class="advantages">
    <div class="title-text">
        <p class="advantages__subtitle">Переваги</p>
        <h2 class="advantages__title">Чому обрати нас?</h2>
        <p class="advantages__description">
            Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
            стійкість і довговічність. Обираючи EcoBag, ви підтримуєте екологічну
            відповідальність.
        </p>
    </div>
    <ul class="advantages__list">
        <li class="advantages__item">
            <picture>
                <source srcset="/images/layout/dt/1-1x.jpg 1x, /images/layout/dt/1-2x.jpg 2x"
                    media="(min-width:1158px)">
                <source srcset="/images/layout/tab/1-1x.jpg 1x, /images/layout/tab/1-2x.jpg 2x"
                    media="(min-width:768px)">
                <source srcset="/images/layout/mob/1-1x.jpg 1x, /images/layout/mob/1-2x.jpg 2x"
                    media="(max-width:767px)">
                <img class="advantages__image" src="../images/layout/mob/1-1x.jpg" alt="bag-1">
            </picture>
            <h3 class="advantages__item-title">Стійкість та екологічність</h3>
            <p class="advantages__text">
                Виготовлені з органічної бавовни та переробленого пластику.
            </p>
        </li>

        <li class="advantages__item">
            <picture>
                <source srcset="/images/layout/dt/2-1x.jpg 1x, /images/layout/dt/2-2x.jpg 2x"
                    media="(min-width:1158px)">
                <source srcset="/images/layout/tab/2-1x.jpg 1x, /images/layout/tab/2-2x.jpg 2x"
                    media="(min-width:768px)">
                <source srcset="/images/layout/mob/2-1x.jpg 1x, /images/layout/mob/2-2x.jpg 2x"
                    media="(max-width:767px)">
                <img class="advantages__image" src="../images/layout/mob/2-1x.jpg" alt="bag-2">
            </picture>
            <h3 class="advantages__item-title">Міцність і довговічність</h3>
            <p class="advantages__text">
                Наші сумки мають посилені шви для тривалого використання.
            </p>
        </li>

        <li class="advantages__item">
            <picture>
                <source srcset="/images/layout/dt/3-1x.jpg 1x, /images/layout/dt/3-2x.jpg 2x"
                    media="(min-width:1158px)">
                <source srcset="/images/layout/tab/3-1x.jpg 1x, /images/layout/tab/3-2x.jpg 2x"
                    media="(min-width:768px)">
                <source srcset="/images/layout/mob/3-1x.jpg 1x, /images/layout/mob/3-2x.jpg 2x"
                    media="(max-width:767px)">
                <img class="advantages__image" src="/images/layout/mob/3-1x.jpg" alt="bag-3">
            </picture>
            <h3 class="advantages__item-title">Стильний та сучасний дизайн</h3>
            <p class="advantages__text">
                Мінімалістичні моделі в основних відтінках для кожного стилю.
            </p>
        </li>
    </ul>
</section>