<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap"
        rel="stylesheet">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/advantages.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/styles.css"/>


</head>

<body>
    <section id="advantages" class="advantages">
        <div class="title-text">
        <p class="advantages__subtitle">Переваги</p>
        <h2 class="advantages__title">Чому обрати нас?</h2>
        <p class="advantages__description">
            Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
            стійкість і довговічність. Обираючи EcoBag, ви підтримуєте екологічну
            відповідальність.
        </p>
        </div>
        <ul class="advantages__list">
            <li class="advantages__item">
                <img src="../images/layout/mob/1-1x.jpg" srcset="
            ../images/layout/mob/1-1x.jpg 1x,
            ../images/layout/mob/1-2x.jpg 2x,
            ../images/layout/tab/1-1x.jpg 768w,
            ../images/layout/dt/1-1x.jpg 1200w" 
            alt="Стійкість та екологічність" class="advantages__image" />
                <h3 class="advantages__item-title">Стійкість та екологічність</h3>
                <p class="advantages__text">
                    Виготовлені з органічної бавовни та переробленого пластику.
                </p>
            </li>

            <li class="advantages__item">
                <img src="../images/layout/mob/2-1x.jpg" srcset="
            ../images/layout/mob/2-1x.jpg 1x,
            ../images/layout/mob/2-2x.jpg 2x,
            ../images/layout/tab/2-1x.jpg 768w,
            ../images/layout/dt/2-1x.jpg 1200w" 
            alt="Міцність і довговічність" class="advantages__image" />
                <h3 class="advantages__item-title">Міцність і довговічність</h3>
                <p class="advantages__text">
                    Наші сумки мають посилені шви для тривалого використання.
                </p>
            </li>

            <li class="advantages__item">
                <img src="../images/layout/mob/3-1x.jpg" srcset="
            ../images/layout/mob/3-1x.jpg 1x,
            ../images/layout/mob/3-2x.jpg 2x,
            ../images/layout/tab/3-1x.jpg 768w,
            ../images/layout/dt/3-1x.jpg 1200w" 
            alt="Стильний та сучасний дизайн" class="advantages__image" />
                <h3 class="advantages__item-title">Стильний та сучасний дизайн</h3>
                <p class="advantages__text">
                    Мінімалістичні моделі в основних відтінках для кожного стилю.
                </p>
            </li>
        </ul>
    </section>
</body>

</html>