<link rel="stylesheet" href="../css/footer.css" />
<section class="footer">
    <div class="footer__container">
        <a href="#" class="footer__logo">
            <img src="/images/svg/logo.svg" alt="EcoTote logo" class="footer__logo-img" width="180" height="67">
        </a>
        <nav class="footer__nav">
            <ul class="footer__list">
                <li><a href="#" class="footer__link">Про нас</a></li>
                <li><a href="#" class="footer__link">Переваги</a></li>
                <li><a href="#" class="footer__link">Асортимент</a></li>
                <li><a href="#" class="footer__link">Галерея</a></li>
                <li><a href="#" class="footer__link">Вiдгуки</a></li>
                <li><a href="#" class="footer__link">Контакти</a></li>
            </ul>
        </nav>
        <ul class="footer__social">
            <li>
                <a href="https://www.instagram.com/"><svg width="32" height="32">
                        <use href="/images/svg/icons.svg#icon-Instagram"></use>
                    </svg></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/"><svg width="32" height="32">
                        <use href="/images/svg/icons.svg#icon-LinkedIn"></use>
                    </svg></a>
            </li>
            <li>
                <a href="https://www.youtube.com/"><svg width="32" height="32">
                        <use href="/images/svg/icons.svg#icon-Youtube"></use>
                    </svg></a>
            </li>
        </ul>
        <address class="footer__contacts">
            <span class="footer__contact-link-padding"><a href="tel:+380999091122" class="footer__contact-link">+38 (099) 909 11 22</a></span>
            <span class="footer__gmail-link-padding"><a href="mailto:hello@ecotote.com" class="footer__contact-link">hello@ecotote.com</a></span>
            <span class="footer-copyright-padding"><p class="footer__copyright">© 2025 EcoTote. Всі права захищені.</p></span>
        </address>
    </div>
</section>