<section class="gallery" id="gallery">
    
        <div class="container">

            <h2 class="gallery-title">Галерея зображень</h2>
            <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
            
            <ul class="gallery-list">

                <li class="gallery-cafe">
                    <picture>
                        <source
                            srcset="/images/gallery/cafe-desk-1x.webp 1x, /images/gallery/cafe-desk-2x.webp 2x"
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="/images/gallery/cafe-tab-1x.webp 1x, /images/gallery/cafe-tab-2x.webp 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="/images/gallery/cafe-mob-1x.webp 1x, /images/gallery/cafe-mob-2x.webp 2x"
                            media="(min-width: 320px)"
                            />
                            <img class="cafe-img" src="/images/gallery/cafe-img.webp" alt="An eco tote placed on a chair or beside a table at a cozy coffee shop. There’s a cup of coffee, a book or a laptop nearby. The setting is minimal and aesthetic, evoking slow lifestyle and conscious choices.">
                    </picture>
                </li>

                <li class="gallery-city">
                    <div class="gallery-picture-box">
                        <picture>
                            <source
                                srcset="/images/gallery/city-desk-1x.webp 1x, /images/gallery/city-desk-2x.webp 2x"
                                media="(min-width: 1440px)"
                            />
                            <source
                                srcset="/images/gallery/city-tab-1x.webp 1x, /images/gallery/city-tab-2x.webp 2x"
                                media="(min-width: 768px)"
                            />
                            <source
                                srcset="/images/gallery/city-mob-1x.webp 1x, /images/gallery/city-mob-2x.webp 2x"
                                media="(min-width: 320px)"
                                />
                                <img class="city-img" src="/images/gallery/city-img.webp" alt="A city scene where a stylish person carries a tote bag while crossing a street or standing at a crosswalk. Urban backdrop, bicycles, pedestrians, and modern architecture in the background. The bag is modern and clean.">
                        </picture>
                    </div>
                </li>

                <li class="gallery-park">
                    <picture>
                        <source
                            srcset="/images/gallery/park-desk-1x.webp 1x, /images/gallery/park-desk-2x.webp 2x"
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="/images/gallery/park-tab-1x.webp 1x, /images/gallery/park-tab-2x.webp 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="/images/gallery/park-mob-1x.webp 1x, /images/gallery/park-mob-2x.webp 2x"
                            media="(min-width: 320px)"
                            />
                            <img class="park-img" src="/images/gallery/park-img.webp" alt="A person walking through a park or nature trail carrying an eco-friendly tote bag on their shoulder. Casual outfit, spring or summer scenery, with trees, grass, and soft shadows. The bag moves naturally.">
                    </picture>
                </li>

                <li class="gallery-market">
                    <picture>
                        <source
                            srcset="/images/gallery/market-desk-1x.webp 1x, /images/gallery/market-desk-2x.webp 2x"
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="/images/gallery/market-tab-1x.webp 1x, /images/gallery/market-tab-2x.webp 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="/images/gallery/market-mob-1x.webp 1x, /images/gallery/market-mob-2x.webp 2x"
                            media="(min-width: 320px)"
                            />
                            <img class="market-img" src="/images/gallery/market-img.webp" alt="A young woman holding a large eco tote bag filled with fresh vegetables and fruits at a local farmer's market. Warm sunlight, cozy atmosphere, background with wooden crates and greenery.">
                    </picture>
                </li>

            </ul>
        </div>

    </section>