<header class="page-header">
    <div class="container nav-conteiner">
        <a class="nav-logo-link" href="./index.html">
            <svg class="nav-logo" width="84" height="36" overflow="visible">
                <use href="/images/svg/logo.svg"></use>
            </svg>
        </a>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav-item"><a href="#about" class="nav-item-link">Про нас</a></li>
                <li class="nav-item"><a href="#advantages" class="nav-item-link">Переваги</a></li>
                <li class="nav-item"><a href="#assortment" class="nav-item-link">Асортимент</a></li>
                <li class="nav-item"><a href="#gallery" class="nav-item-link">Галерея</a></li>
                <li class="nav-item"><a href="#feedbacks" class="nav-item-link">Відгуки</a></li>
                <li class="nav-item"><a href="#contacts" class="nav-item-link">Контакти</a></li>
            </ul>
        </nav>
        <address class="contacts">
            <ul class="contacts-list">
                <li class="contacts-item"><a href="tel:+380999091122" class="contacts-item-link">+38 (099) 909 11 22</a>
                </li>
                <li class="contacts-item"><a href="mailto:hello@ecotote.com"
                        class="contacts-item-link">hello@ecotote.com</a>
                </li>
            </ul>
        </address>
        <button class="menu-open-btn" type="button">
            <svg class="menu-open-img" width="32" height="32">
                <use href="/images/svg/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
    <div class="mob-menu is-open">
        <div class="mob-menu-container">
            <div class="menu-mob-cont">
                <ul class="menu-list">
                    <li class="menu-item">
                        <div class="logo-cont">
                        <!-- <button class="menu-logo-btn" type="button"></button> -->
                        <a class="nav-logo-link" href="./index.html">
                        <svg class="mob-menu-logo" width="84" height="36">
                            <use href="/images/svg/logo.svg"></use>
                        </svg></a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <button class="menu-exit-btn" type="button">
                            <svg class="icon-close" width="16" height="16">
                                <use href="/images/svg/icons.svg#icon-icon2"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <nav class="mob-navigation">
                <ul class="mob-nav-list">
                    <li class="mob-nav-item"><a href="#about" class="mob-nav-item-link">Про нас</a></li>
                    <li class="mob-nav-item"><a href="#advantages" class="mob-nav-item-link">Переваги</a></li>
                    <li class="mob-nav-item"><a href="#assortment" class="mob-nav-item-link">Асортимент</a></li>
                    <li class="mob-nav-item"><a href="#gallery" class="mob-nav-item-link">Галерея</a></li>
                    <li class="mob-nav-item"><a href="#feedbacks" class="mob-nav-item-link">Відгуки</a></li>
                    <li class="mob-nav-item"><a href="#contacts" class="mob-nav-item-link">Контакти</a></li>
                </ul>
            </nav>
        </div>
            <address class="mob-contacts">
                <ul class="mob-contacts-list">
                    <li class="mob-contacts-item"><a href="tel:+380999091122" class="mob-contacts-item-link">+38 (099)
                            909 11 22</a>
                    </li>
                    <li class="mob-contacts-item"><a href="mailto:hello@ecotote.com"
                            class="mob-contacts-item-link">hello@ecotote.com</a>
                    </li>
                </ul>
            </address>
    </div>
</header>