<!-- Header -->
<section class="header">
  <div class="header-container">
    <h1 class="header-title">EcoTote — Стиль, що не шкодить планеті.</h1>
    <div class="header-side">
      <p class="header-text">
        Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
        відповідальність разом з EcoTote.
      </p>
      <a class="header-button" href="#assortment">Купити зараз</a>
    </div>
    <picture class="header-media">
      <source
        media="(min-width: 1440px)"
        srcset="
          /images/header/eco-desktop-1x.webp 1x,
          /images/header/eco-desktop-2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /images/header/eco-tablet-1x.webp 1x,
          /images/header/eco-tablet-2x.webp 2x
        "
      />
      <source
        media="(min-width: 320px)"
        srcset="
          /images/header/eco-mob-1x.webp 1x,
          /images/header/eco-mob-2x.webp 2x
        "
      />
      <img
        class="header-img"
        src="./images/eco-mob-1x.webp"
        srcset="./images/header/eco-mob-2x.webp 2x"
        alt="Три еко-сумки — біла, бежева та зелена, на природному фоні"
      />
    </picture>
  </div>
</section>
